body,html{
margin: 0;
padding: 0;
width: 100%;
height: 100vh;
font-family: sans-serif;
}
.section_top{
    background-image: url('../images/jason-leung-poI7DelFiVA-unsplash.jpg');
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: change 20s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url('../images/louis-hansel-Zg7_HNM9H7I-unsplash.jpg');
    }
    20%
    {
        background-image: url('../images/zakaria-zayane-0uAVsDcyD0M-unsplash.jpg')   
    }
    40%
    {
        background-image: url('../images/ronan-kruithof-PCE0T5i4pDI-unsplash.jpg')
    }
    60%
    {
        background-image: url('../images/lidye-1Shk_PkNkNw-unsplash.jpg')
    }
    80%
    {
        background-image: url('../images/tim-mossholder-FH3nWjvia-U-unsplash.jpg')
    }
}
  .content{
    text-align: center;justify-content: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
  } 
  .content a{
    background: #85c1ee;
    padding: 10px 24px;
    text-decoration: none;
    font-size: medium;
    border-radius: 20px;
  }
  .content a:hover{
    background: #034e88;
    color: beige;
  }
  .content h1{
    color: #fff;
    font-size: 40px;
    letter-spacing: 5px;
  }
  .content h1 span{
    color: lightblue;
  }
  .content h2{
    color: #034e88;
    font-size: 28px;
    text-decoration: wavy;
  }
.head{
  color: #fff;
  padding-top: 15px;
}
.head a{
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
}
.head li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
.head .highlight, .head .current a{
  color: #034e88;
  font-weight: bold;
}
.head a:hover{
  color: aqua;
}
header{
  background: #4e5458;
  color: #fff;
  padding-top: 5px;
  min-height: 50px;
  border-bottom: #85c1ee 3px solid;
}
header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
header li{
  display: inline;
  padding: 0 20px 0 20px;
  text-align: center;
  margin: 10px;
}
header #branding{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
header #branding h1{
  margin: 20px;
}
header .highlight, header .current a{
  color: lightblue;
  font-weight: bold;
}
header a:hover{
  color: rgb(1, 2, 2);
}
header h1{
  color: #fff;
  font-size: 37px;
  letter-spacing: 3px;
}
header h1 span{
  color: lightblue;
}
#showcase{
   min-height: 400px;
   background: url('../images/volkan-vardar-1H30uRC1plc-unsplash.jpg') no-repeat;
   background-position: center;
   background-size: cover;
   text-align: center;
   color: rgb(25, 181, 100);
  }
  #showcase h1{
    margin-top: 0px;
    font-size: 50px;
  }
  #showcase p{
    font-size: 20px;
  }
  .button_1{
    height: 20px;
    background: rgb(76, 80, 82);
    border: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
  }
.dark{
  padding: 15px;
  background: url('../images/chad-montano-eeqbbemH9-c-unsplash.jpg');
  margin-top:0 ;
  display: inline-block;
  background-position: center;
  background-size: cover;
   color: aliceblue;
   margin: 5px;
}
::placeholder{
  text-align: center;
}
footer{
  color: aquamarine;
  background-color: #4e5458;
}



















